<%- include('./layout/head.ejs')%> 
<%- include('./layout/navigation.ejs')%>
<%- include('./layout/modal.ejs') %>
<main class="w-full max-w-7xl mx-auto mt-12">
  <% if(products.length > 0){ %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 px-4">
        <% products.forEach(item=>{ %>
          <div class="flex flex-col justify-between border rounded-2xl shadow bg-white min-h-[600px]">
              <img class="h-1/2 object-cover w-full rounded-tr-2xl rounded-tl-2xl" src="https://v1.tailwindcss.com/img/card-top.jpg" alt="book-image">
              <div class="px-3 py-3 h-1/2 flex justify-between flex-col">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, delectus dicta. Nostrum optio quisquam doloribus cumque molestias labore in animi earum accusantium illum temporibus minima rem, fuga aspernatur atque corporis.</p>
                <ul class="flex gap-x-4 justify-start items-center flex-wrap ">
                    <li class="text-xl font-semibold capitalize ">
                      bookname : <%=item.bookName %></li>
                    <li class="text-xl font-semibold capitalize ">
                      price : <%=item.price.toLocaleString() %></li>
                    <li class="text-xl font-semibold capitalize">book count : <%=item.bookCount %></li>
                </ul>
                <div class="flex flex-row-reverse gap-1">
                    <button type="submit" class="delete-button py-2.5 px-8 bg-red-500 rounded-lg text-lg font-medium w-full cursor-pointer text-white hover:bg-red-600 transition-colors duration-200 " 
                    onclick='showModal("delete" , {id :"<%= item.id %>" , name:"<%=item.bookName%>" })'
                    >Delete</button>
                    <button type="submit" class="py-2.5 px-8 bg-green-700 rounded-lg text-lg font-medium cursor-pointer text-white hover:bg-green-600 transition-colors duration-200 w-full capitalize "
                    onclick="showModal('edit' , {id :'<%=item.id %>' , name:'<%=item.bookName%>' , count : '<%=item.bookCount%>' , price:'<%= item.price%>' })"
                    >edit</button>
                </div>
              </div>
          </div>
        <% }) %>
      </div>
  <%} else { %>
    <div class="space-y-4">
      <h1 class="text-4xl text-center font-bold">no product exist </h1>
      <a href="/createBook" class="block w-fit mx-auto text-center border-2 border-green-800  mt-5 px-4 py-3 cursor-pointer hover:bg-green-800 hover:border-none hover:text-white capitalize text-xl rounded-lg transition-colors">add new product</a>
    </div>
  <% } %>    
</main>
<script src="/js/script.js"></script>
<%-include('./layout/end.ejs')%>
