<%- include("../includes/head.ejs") %>
<main class="w-full max-w-7xl mx-auto mt-12">
  <h1 class="text-3xl text-center font-bold">home page</h1>
    <% if(products.length > 0){ %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 px-4 mt-4">
         <% products.forEach(item=>{ %>
          <div class="flex flex-col justify-between border border-gray-500 rounded-xl shadow bg-white min-h-[500px]">
            <h3 class="text-3xl font-semibold text-center p-4"> <%=item.title %></h3>
              <img class="h-2/3 object-cover w-full" src="<%=item.imgUrl %>" alt="book-image">
              <div class="px-3 py-3  flex justify-between flex-col">                    
                <p class="text-center text-2xl font-bold">$<%=item.price.toLocaleString() %></p>
                <p class="text-center "><%=item.description%></p>
                <%-include("../includes/addCart.ejs" ,{product : item})%>                
              </div>
          </div>
        <% }) %>
    </div>
    <%} else { %>
        <p>no products</p>
    <% } %>
</main>         
<%- include("../includes/end.ejs") %>
